// font family
$font-primary: Montserrat, sans-serif;

// colors
$color-primary: #81007f;
$color-secondary: #80007e;
$color-tertiary: #70b635;
$color-desc: #707070;
$color-button: #c32d2c;
$color-footer: #f4f5f8;

// mixins
@mixin button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  text-transform: uppercase;
  width: 25%;
  box-shadow: 0 12px 20px rgb(0 0 0 / 20%);
  color: #fff;
}

@mixin headline {
  color: $color-tertiary;
  text-transform: uppercase;
  font-size: 2.5rem;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-primary;
}

// ------------------------------------------------- HEADER -------------------------------------------------

.header__content {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.header__nav {
  display: flex;
  gap: 1.5rem;
}

// ------------------------------------------------- HERO SECTION -------------------------------------------------
.hero {
  align-items: center;
  background-image: url("../img/hero_winter_2022.898df476.webp");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 100vh;
  width: 100%;
  // padding-bottom: 3rem;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  margin-left: 5%;
  // padding: 1.5rem;
  width: 60%;
}
.hero__headline {
  color: #80007e;
  font-size: 2.8rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.hero__description {
  color: $color-desc;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  width: 80%;
}
.hero__button-container {
  display: flex;
  gap: 2rem;
}
.hero__button {
  @include button();

  & a {
    color: white;
    text-decoration: none;
  }
  &_join {
    background-color: $color-button;
  }
  &_more {
    background-color: $color-tertiary;
  }
}

// ------------------------------------------------- GALLERY SECTION -------------------------------------------------
.gallery {
  width: 100%;
  border-top: 1px solid $color-secondary;
  margin-top: 4rem;
  padding-top: 3rem;
}

.gallery__headline {
  @include headline();
}

.gallery__text {
  color: #707070;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  width: 60%;
  margin: 0 auto 2rem;
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin: 0 5%;
}

.gallery__image-wrapper {
  width: 400px;
  height: 235px;
  overflow: hidden;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.gallery__image-item {
  width: 100%;
}

.gallery__image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: opacity 0.5s ease-in;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.gallery__image-content {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-content__headline {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

// ------------------------------------------------- REGISTER SECTION -------------------------------------------------
.register {
  width: 100%;
  border-top: 1px solid $color-secondary;
  margin-top: 4rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.register__headline {
  @include headline();
}

.register__container {
  display: flex;
  margin: 0 5%;
  gap: 3rem;
  align-items: center;
}

.register__left {
  width: 50%;
}

.register__left-description {
  color: $color-desc;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.register__left-headline {
  color: $color-secondary;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.register__form {
  background-color: $color-tertiary;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 12px 20px rgb(0 0 0 / 20%);
  width: 100%;
  text-align: center;
}

.register__inputs-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.register__input {
  min-width: 40%;

  margin: 1.4rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  height: 2rem;

  &::placeholder {
    color: #fff;
    font-size: 1.3rem;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px $color-tertiary inset !important;
    -webkit-box-shadow: 0 0 0 1000px $color-tertiary inset !important;
    -webkit-text-fill-color: white !important;
  }
}

.register__button {
  @include button();
  background-color: #c32d2c;
  margin-top: 2rem;
}

// ------------------------------------------------- TABLE SECTION -------------------------------------------------
.examples {
  width: 100%;
  border-top: 1px solid $color-secondary;
  margin-top: 4rem;
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.examples__headline {
  @include headline();
}

.examples__table {
  width: 90%;
  background-color: #ffffff;
  border-collapse: collapse;
  border: 1px solid $color-secondary;
  color: #000000;
  margin: 0 5%;
  box-shadow: 0 12px 20px rgb(0 0 0 / 20%);
}

.examples__table td,
.examples__table th {
  border-width: 1px;
  border-color: #80007e;
  border-style: solid;
  padding: 1rem;
  width: 25%;
}

.examples__table th {
  text-transform: uppercase;
}

.examples__table thead {
  background-color: #80007e;
  color: #fff;
}

// ------------------------------------------------- FOOTER SECTION -------------------------------------------------

.footer {
  width: 100%;
  border-top: 1px solid $color-secondary;
  margin-top: 4rem;
  padding-top: 3rem;
  background-color: $color-footer;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.footer__upper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;

  & a {
    color: $color-secondary;
    text-decoration: none;
  }
}

.footer__nav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
    color: $color-tertiary;
  }
}
